# https://help.github.com/en/github/automating-your-workflow-with-github-actions/workflow-syntax-for-github-actions
# https://github.com/marketplace/actions/gradle-command
name: Check build and tests of plugins and samples
on:
  pull_request:
    paths:
      - 'plugins/**'
      - 'sample-kotlin/**'
      - 'sample-groovy/**'
      - '!**.md'
      - '!.editorconfig'
      - '!**/.gitignore'
      - '!**.adoc'
      - '!docs/**'
  push:
    branches:
      - main
    paths:
      - 'plugins/**'
      - 'sample-kotlin/**'
      - 'sample-groovy/**'
      - '!**.md'
      - '!.editorconfig'
      - '!**/.gitignore'
      - '!**.adoc'
      - '!docs/**'
jobs:
  check-all:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: 11
      - uses: eskatos/gradle-command-action@v1
        with:
          wrapper-directory: plugins
          build-root-directory: plugins
          arguments: check publishToMavenLocal --stacktrace
      - uses: eskatos/gradle-command-action@v1
        with:
          wrapper-directory: plugins
          build-root-directory: sample-kotlin
          arguments: check --stacktrace
      - uses: eskatos/gradle-command-action@v1
        with:
          wrapper-directory: plugins
          build-root-directory: sample-groovy
          arguments: check --stacktrace
      - uses: eskatos/gradle-command-action@v1
        with:
          wrapper-directory: plugins
          build-root-directory: sample-multi-modules
          arguments: check --stacktrace
